USE [master]
GO
/****** Object:  Database [GestionVentas]    Script Date: 24/4/2025 7:31:57 p. m. ******/
CREATE DATABASE [GestionVentas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionVentas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GestionVentas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionVentas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GestionVentas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionVentas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionVentas]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IDCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Descuento] [decimal](5, 2) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleFactura]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[IDDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IDFactura] [nvarchar](20) NULL,
	[Descripcion] [nvarchar](20) NULL,
	[Cantidad] [int] NULL,
	[PrecioUnitario] [decimal](10, 2) NULL,
	[DescuentoAplicado] [decimal](10, 2) NULL,
	[Subtotal] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[IDFactura] [nvarchar](20) NOT NULL,
	[Fecha] [datetime] NULL,
	[IDCliente] [int] NULL,
	[Id_empleado] [varchar](5) NULL,
	[Total] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[IDFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[IDPago] [int] IDENTITY(1,1) NOT NULL,
	[IDFactura] [nvarchar](20) NULL,
	[MontoTotal] [decimal](10, 2) NULL,
	[MetodoPago] [varchar](50) NULL,
	[FechaPago] [datetime] NULL,
 CONSTRAINT [PK_Pagos] PRIMARY KEY CLUSTERED 
(
	[IDPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IDProducto] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](20) NOT NULL,
	[Marca] [nvarchar](50) NULL,
	[NombreArticulo] [nvarchar](100) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[Talla] [nchar](3) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
	[Precio] [decimal](10, 0) NOT NULL,
	[Stock] [int] NOT NULL,
	[Descuento] [decimal](5, 2) NULL,
	[ITBIS] [decimal](5, 2) NULL,
	[PrecioTotal]  AS (CONVERT([decimal](10,2),round(([Precio]-[Precio]*[Descuento])+([Precio]-[Precio]*[Descuento])*[ITBIS],(2)))) PERSISTED,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id_area] [varchar](5) NOT NULL,
	[Id_empleado] [varchar](5) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Usuario] [varchar](10) NOT NULL,
	[Contrasena] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF_ITBIS]  DEFAULT ((0.18)) FOR [ITBIS]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFactura_Facturas] FOREIGN KEY([IDFactura])
REFERENCES [dbo].[Facturas] ([IDFactura])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_DetalleFactura_Facturas]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Clientes] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Clientes] ([IDCliente])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Clientes]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Usuarios] FOREIGN KEY([Id_empleado])
REFERENCES [dbo].[Usuarios] ([Id_empleado])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Usuarios]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Facturas] FOREIGN KEY([IDFactura])
REFERENCES [dbo].[Facturas] ([IDFactura])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Facturas]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarStockProducto]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para actualizar stock
CREATE PROCEDURE [dbo].[sp_ActualizarStockProducto]
    @Codigo nvarchar(20),
    @Cantidad int
AS
BEGIN
    UPDATE Productos
    SET Stock = Stock - @Cantidad
    WHERE Codigo = @Codigo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarCliente]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BuscarCliente]
    @BuscarCliente VARCHAR(100)
AS
BEGIN
    SELECT *
    FROM Clientes
    WHERE 
        Nombre LIKE '%' + @BuscarCliente + '%'
        OR Telefono LIKE '%' + @BuscarCliente + '%'
        OR Email LIKE '%' + @BuscarCliente + '%'
    ORDER BY Nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarProductoPorCodigo]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para buscar producto por código
CREATE PROCEDURE [dbo].[sp_BuscarProductoPorCodigo]
    @Codigo nvarchar(20)
AS
BEGIN
    SELECT * FROM Productos WHERE Codigo = @Codigo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarProductoPorNombre]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para buscar producto por nombre
CREATE PROCEDURE [dbo].[sp_BuscarProductoPorNombre]
    @NombreArticulo nvarchar(100)
AS
BEGIN
    SELECT * FROM Productos WHERE NombreArticulo LIKE '%' + @NombreArticulo + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarCliente]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_EditarCliente]
    @Nombre NVARCHAR(100),
    @Telefono NVARCHAR(20),
    @Email NVARCHAR(100),
    @Descuento NUMERIC(18, 2),
	@id int
AS
BEGIN
    UPDATE Clientes
    SET
        Nombre = @Nombre,
        Telefono = @Telefono,
        Email = @Email,
        Descuento = @Descuento
    WHERE IDCliente = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarCliente]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_EliminarCliente]
    @IDCliente int
AS
BEGIN
    DELETE FROM Clientes WHERE IDCliente = @IDCliente
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerarIdFactura]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para generar ID de factura
CREATE PROCEDURE [dbo].[sp_GenerarIdFactura]
AS
BEGIN
    DECLARE @UltimoID int
    DECLARE @NuevoID nvarchar(20)
    
    -- Obtener el último ID numérico
    SELECT @UltimoID = ISNULL(MAX(CAST(SUBSTRING(IDFactura, 5, LEN(IDFactura)) AS int)), 0)
    FROM Facturas
    WHERE IDFactura LIKE 'FAC-%'
    
    -- Generar nuevo ID
    SET @NuevoID = 'FAC-' + RIGHT('00000' + CAST(@UltimoID + 1 AS varchar(5)), 5)
    
    SELECT @NuevoID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCliente]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_InsertarCliente]
    @Nombre NVARCHAR(100),
    @Telefono NVARCHAR(20),
    @Email NVARCHAR(100),
    @Descuento NUMERIC(5, 2)
AS
BEGIN
    INSERT INTO Clientes (Nombre, Telefono, Email, Descuento)
    VALUES (@Nombre, @Telefono, @Email, @Descuento);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarDetalleFactura]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para insertar detalle de factura
CREATE PROCEDURE [dbo].[sp_InsertarDetalleFactura]
    @IDFactura nvarchar(20),
    @Descripcion nvarchar(100),
    @Cantidad int,
    @PrecioUnitario decimal(10, 2),
    @DescuentoAplicado decimal(10, 2),
    @Subtotal decimal(10, 2)
AS
BEGIN
    INSERT INTO DetalleFactura (IDFactura, Descripcion, Cantidad, PrecioUnitario, DescuentoAplicado, Subtotal)
    VALUES (@IDFactura, @Descripcion, @Cantidad, @PrecioUnitario, @DescuentoAplicado, @Subtotal)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarFactura]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para insertar factura
CREATE PROCEDURE [dbo].[sp_InsertarFactura]
    @IDFactura nvarchar(20),
    @Fecha datetime,
    @IDCliente int,
    @Id_empleado varchar(5),
    @Total decimal(10, 2)
AS
BEGIN
    INSERT INTO Facturas (IDFactura, Fecha, IDCliente, Id_empleado, Total)
    VALUES (@IDFactura, @Fecha, @IDCliente, @Id_empleado, @Total)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarPago]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para insertar pago
CREATE PROCEDURE [dbo].[sp_InsertarPago]
    @IDFactura nvarchar(20),
    @MontoTotal decimal(10, 2),
    @MetodoPago varchar(50),
    @FechaPago datetime
AS
BEGIN
    INSERT INTO Pagos (IDFactura, MontoTotal, MetodoPago, FechaPago)
    VALUES (@IDFactura, @MontoTotal, @MetodoPago, @FechaPago)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_logueo]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sp_logueo]
@Usuario varchar (10),
@Clave varchar (10)
as
select Id_area, Nombre, Usuario, Contrasena from  Usuarios
where Usuario=@Usuario and Contrasena=@Clave
GO
/****** Object:  StoredProcedure [dbo].[sp_MostrarClientes]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para mostrar clientes
CREATE PROCEDURE [dbo].[sp_MostrarClientes]
AS
BEGIN
    SELECT * FROM Clientes
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MostrarFacturas]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para mostrar facturas
CREATE PROCEDURE [dbo].[sp_MostrarFacturas]
AS
BEGIN
    SELECT f.IDFactura, f.Fecha, c.Nombre AS Cliente, u.Nombre AS Empleado, f.Total
    FROM Facturas f
    INNER JOIN Clientes c ON f.IDCliente = c.IDCliente
    INNER JOIN Usuarios u ON f.Id_empleado = u.Id_empleado
    ORDER BY f.Fecha DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MostrarProductos]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para mostrar productos
CREATE PROCEDURE [dbo].[sp_MostrarProductos]
AS
BEGIN
    SELECT * FROM Productos
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerClientePorId]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para obtener cliente por ID
CREATE PROCEDURE [dbo].[sp_ObtenerClientePorId]
    @IdCliente int
AS
BEGIN
    SELECT * FROM Clientes WHERE IDCliente = @IdCliente
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerDetallesPorFactura]    Script Date: 24/4/2025 7:31:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para obtener detalles por factura
CREATE PROCEDURE [dbo].[sp_ObtenerDetallesPorFactura]
    @IDFactura nvarchar(20)
AS
BEGIN
    SELECT * FROM DetalleFactura WHERE IDFactura = @IDFactura
END
GO
USE [master]
GO
